.screen-container {
  @apply px-5;
}

.nav-link {
  @apply text-[#222222] font-medium hover:text-[#6D787C];
}

.home-hero-area {
  @apply h-[662px] bg-[#888888] shadow-lg;
}

.heading {
  @apply mb-10 text-[42px] text-center;
}

.sub-heading {
  @apply mb-6 text-[32px] font-semibold;
}

.paragraph {
  @apply mb-4 text-xl;
}

.figcaption {
  @apply text-[#666666];
}

.heading[contenteditable="true"],
.sub-heading[contenteditable="true"],
.paragraph[contenteditable="true"],
.figcaption[contenteditable="true"] {
  @apply focus:border focus:border-[#E20ABF] focus:outline-none;
}

.heading[contenteditable="true"]:empty:not(:focus):before,
.sub-heading[contenteditable="true"]:empty:not(:focus):before,
.paragraph[contenteditable="true"]:empty:not(:focus):before,
.figcaption[contenteditable="true"]:empty:not(:focus):before {
  content: attr(data-placeholder);
}

.heading[contenteditable="true"]:empty:not(:focus):before {
  color: #aaaaaa;
}

.sub-heading[contenteditable="true"]:empty:not(:focus):before,
.paragraph[contenteditable="true"]:empty:not(:focus):before {
  color: #bbbbbb;
}
